.newsItem time {
    float:right;
    font-style: italic;
}

.newsItem footer {
    text-align: right;
    font-style: italic;
}

.gallery {
    list-style: none;
    padding: 0;
    margin: 0;
}

.gallery:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.gallery li {
    float: left;
    width: 33.33333333%;
}

.gallery li a {
    display: block;
    margin: 5px;
    border: 1px solid #3c3c3c;
}

.gallery li img {
    display: block;
    width: 100%;
    height: auto;
}

#startOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
}

.news-button {
    word-wrap: break-word;
}

.dynamic {
    overflow: hidden;
}

.tweet-button .userTweet{
    float: right;
}

.tweet-button .ui-li-desc {
    white-space: normal;
}

.imagesLink .ui-li-heading {
    white-space: normal;
}

#subTitle {
    text-align: center;
    margin:0px 0.4em;
}

.ui-page-active.ui-page-panel {
    overflow: hidden;
}

#home-button {
    display:none;
}